/*body {
  font-family: $font-family-base;
  color: $color-text;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: $headings-font-family;
  font-weight: 600;
  color: $color-primary;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 2.75rem);
}
*/

body {
  font-family: 'Inter', sans-serif;
  color: #2b2b2b;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
  color: var(--color-primary);
}
